<h1><%= t('article.articles').capitalize %></h1>

<% @articles.each do |article| %>
  <div class="card mb-4" style="width: 100%">
    <div class="card-body">
      <h2 class="card-title"><%= article.title %></h2>
      <div class="card-text text-justify">
          <%=  article.intro_text.html_safe %>
      </div>
        <div class="row">
          <div class="col-8">
            <%= material_icon.label.md_18 %>
            <%= link_to article.article_category.name, articles_path(article.article_category.slug) %>
            <%= " | "%>
            <%= material_icon.local_offer.md_18 %>
            <% article.tags.each do |tag| %>
              <%= link_to tag, articles_tag_path(tag) %>,
            <% end %>
            <br>
            <strong>Napísal: </strong><i><%= article.user.username %></i> | 
            <i><%= article.created_at.strftime("%d.%B %Y o %H:%m hod.") %></i>
          </div>
          <div class="col-4 text-right pr-5">
            <% if !article.text.blank? %>
              <%= link_to t('article.show_full_article'), article_path(article), class: "text-right" if !article.text.blank? %>
            <% end %>
          </div>
        </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-12 justify-content-center text-center">
    <%= will_paginate @articles %>
  </div>
</div>
