<%= form_with(model: article_category, url: url, local: true) do |form| %>
  <%= render 'shared/error_messages', model: article_category%>
  <div class="row">
    <div class="col-4">
        <%= form.label :name, t('article_category.name').capitalize %>:
        <%= form.text_field :name, class: "form-control" %>
    </div>
      <div class="col-4">
        <%= form.label :logo, t('article_category.logo').capitalize %>:
        <%= form.file_field :logo, class: "form-control-file" %>
    </div>
  </div >
  <div class="row mt-4">
    <div class="col-8 text-center">
      <%= form.submit t('save').upcase, class: "btn btn-primary" %>
    </div>
  </div >
<% end %>
