<!doctype html>
<html lang="en">
  <head>
    <title>mWeb.sk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- CSS STYLES -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- JS -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>

  </head>
  <body class="">
    <%= render "layouts/nav"%>

<main role="main" class="container pt-3">
    <%= render "layouts/messages"%>
    <%= yield %>
</main><!-- /.container -->
</body>
</html>